.normal-color{
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
}
.color-code{
    color: white;
    background-color:#445544;
    padding: 20px;
    text-align: center;
}
.rgb{
    color: black;
    background-color:rgb(45,98,45);
    padding: 20px;
    text-align: center;
}
.rgba{
    color: black;
    background-color:rgba(8, 128, 123,0.9);
    padding: 20px;
    text-align: center;
}