h1{
    background-color: greenyellow;
    color: white;
    text-align: center;
    padding: 20px;
}

#para1{

    background-color: rgb(233, 202, 202);
}
#para1 {
    background-color: rgb(233, 202, 202);
    padding: 10px;
    font-family: cursive;
    word-spacing: 6px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: justify;
    color: brown;
    text-indent: 314px;
    text-shadow: 2px 2px;
}