#main-heading{

    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    /* margin: -8px;     CSS Comments */ 
        margin: -8px;      
 
}

.sub-heading{
    color: blue;
}
.crickter-name{
    color: red;
}
/*
1.Circle
2.Decimal ->starts form 1
3.decimal-leading-zero   -->starts from 01
4.lower alpha-->a,b,c
5.lower-greek -->apha ,beta,gamma
6.lower-roman --> roman letters
7.square-->It displays in square format
8.
*/
li{
    list-style-type:lower-roman;
    line-height: 28px;
    font-weight: 700;
    font-size: 20px;
    font-family: calibri;
}